.teamwork-logo {
    background-size: 205px;
    width: 210px;
    height: 35px;
    background-repeat: no-repeat;
    background-position-x: 1px;
}

.edg-product-logo {
    background-image: url('../assets/icons/headerContainer/TopQuadrant_Symbol_Full Color.svg');
    background-size: contain;
    height: 45px;
    // width: 65px;
    margin-left: 10px;
    margin-top: 20px;
}
